body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
}

.container .noi_dung{
    width: 600px;
    height: 400px;
    background: #000;
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
}

.container .noi_dung img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .noi_dung::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 3s;
    transform-origin: right;
}

@keyframes reveal{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

.container .noi_dung h2{
    position: absolute;
    right: -100px;
    bottom: 50px;
    margin: 0;
    padding: 10px;
    background: #fff;
    z-index: 2;
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    transform: scaleX(0);
    transform-origin: left;
    animation: reveal 1s ease-in-out forwards;
    animation-delay: 1s;
}

.container .noi_dung h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    animation: reveal 1s reverse forwards;
    animation-delay: 2s;
    transform-origin: right;
}